Repository aaron-bartlett/ar-wildfire-sandbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release, tag

flake8:
  stage: Static Analysis
  tags:
  - lslab2
  script:
  - poetry install --only dev
  - poetry run flake8 .
  needs: []

black:
  stage: Static Analysis
  tags:
  - lslab2
  script:
  - poetry install --only dev
  - poetry run black --check ./
  needs: []

mypy:
  stage: Static Analysis
  tags:
  - lslab2
  script:
  - poetry install --only dev
  - poetry run mypy --config-file pyproject.toml .
  needs: []

isort:
  stage: Static Analysis
  tags:
  - lslab2
  script:
  - poetry install --only dev
  - poetry run isort --check --profile black --trailing-comma -m=3 .
  needs: []

bandit:
  stage: Security
  tags:
  - lslab2
  script:
  - poetry install --only dev
  - poetry run bandit -r .
  needs: []

coverage:
  stage: Tests
  tags:
  - lslab2
  script:
  - poetry install --with coverage
  - SDL_VIDEODRIVER=dummy poetry run python -m coverage run -m pytest
  - SDL_VIDEODRIVER=dummy poetry run python -m coverage report -i
  - SDL_VIDEODRIVER=dummy poetry run python -m coverage xml -i
  ...

test-pages:
  script:
  - poetry install --only docs
  - poetry run sphinx-build -d docs/build/doctrees docs/source docs/build/html
  - mv docs/build/html public/
  stage: Documentation
  tags:
  - lslab2
  needs: []
  artifacts:
    expose_as: HTML Documentation
    paths:
    - public/
    expire_in: 1 week

test_release:
  stage: Release
  tags:
  - lslab2
  script:
  - poetry build
  - poetry run pip install -U dist/*.whl
  - rm -rf simfire
  - poetry run python tests/package.py
  - SDL_VIDEODRIVER=dummy poetry run python tests/sim.py
  needs: []

tag:
  stage: Release
  tags:
  - lslab2
  before_script:
  - python --version
  - curl -sSkL https://install.python-poetry.org | python -
  - export PATH=$PATH:$HOME/.local/bin
  - poetry --version
  - DEBIAN_FRONTEND=noninteractive apt update
  - DEBIAN_FRONTEND=noninteractive apt -y install php php-json git curl wget
  ...

change
  depth.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

new run
  april_tags.pkl
  calibration_data.npz
  checkalign.png
  color_original.png
  color_rectified.png
  data/depth_camera_input.npy
  data/final_objects.txt
  data/gifs/simulation_2025-04-15_12-51-22.gif
  depth.py
  depthColorMap.png
  depth_colormap.png
  sandbox_final.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

Added Scaling and open pygame to final
  sandbox_final.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

calibration&depth
  calibration.py
  depth.py
  scanterrain.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

depth resizing
  depth.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

hand dect fixed and other changes
  april_tags.pkl
  calibration.py
  calibration_data.npz
  checkalign.png
  color_original.png
  color_rectified.png
  data/depth_camera_input.npy
  depth.py
  depthColorMap.png
  depth_colormap.png
  depthdata.txt
  object.py
  sandbox_final.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

examples
  example_data/depthdataflat.txt
  example_data/depthdatawithhand.txt
Due: none

updated grab_depth_map averaging frames in depth map
  depth.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

Depth.py into object
  depth.py
  sandbox_final.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

Min Product Working
  depth.py
  sandbox_final.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

Attempting Object Transform
  depth.py
  object.py
  sandbox_final.py
  simfire/game/game.py
  simfire/sim/simulation.py
  simfire/utils/config.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release, tag

Added Water for Bottom Layer
  sandbox_final.py
  simfire/utils/layers.py
  simfire/world/presets.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release, tag

Added Time Tracking
  sandbox_final.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

Path conditions:
  flake8: any of: **/*.py, poetry.lock, .flake8
  black: any of: **/*.py, poetry.lock
  mypy: any of: **/*.py, poetry.lock
  isort: any of: **/*.py, poetry.lock
  bandit: any of: **/*.py, poetry.lock
  coverage: any of: **/*.py, poetry.lock
  test-pages: any of: **/*.py, docs/**/*, poetry.lock
  test_release: any of: **/*.py, poetry.lock, pyproject.toml
  tag: any of: simfire/**/*, poetry.lock, pyproject.toml
