Repository aaron-bartlett/ar-wildfire-sandbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release, tag

flake8:
  stage: Static Analysis
  tags:
  - lslab2
  script:
  - poetry install --only dev
  - poetry run flake8 .
  needs: []

black:
  stage: Static Analysis
  tags:
  - lslab2
  script:
  - poetry install --only dev
  - poetry run black --check ./
  needs: []

mypy:
  stage: Static Analysis
  tags:
  - lslab2
  script:
  - poetry install --only dev
  - poetry run mypy --config-file pyproject.toml .
  needs: []

isort:
  stage: Static Analysis
  tags:
  - lslab2
  script:
  - poetry install --only dev
  - poetry run isort --check --profile black --trailing-comma -m=3 .
  needs: []

bandit:
  stage: Security
  tags:
  - lslab2
  script:
  - poetry install --only dev
  - poetry run bandit -r .
  needs: []

coverage:
  stage: Tests
  tags:
  - lslab2
  script:
  - poetry install --with coverage
  - SDL_VIDEODRIVER=dummy poetry run python -m coverage run -m pytest
  - SDL_VIDEODRIVER=dummy poetry run python -m coverage report -i
  - SDL_VIDEODRIVER=dummy poetry run python -m coverage xml -i
  ...

test-pages:
  script:
  - poetry install --only docs
  - poetry run sphinx-build -d docs/build/doctrees docs/source docs/build/html
  - mv docs/build/html public/
  stage: Documentation
  tags:
  - lslab2
  needs: []
  artifacts:
    expose_as: HTML Documentation
    paths:
    - public/
    expire_in: 1 week

test_release:
  stage: Release
  tags:
  - lslab2
  script:
  - poetry build
  - poetry run pip install -U dist/*.whl
  - rm -rf simfire
  - poetry run python tests/package.py
  - SDL_VIDEODRIVER=dummy poetry run python tests/sim.py
  needs: []

tag:
  stage: Release
  tags:
  - lslab2
  before_script:
  - python --version
  - curl -sSkL https://install.python-poetry.org | python -
  - export PATH=$PATH:$HOME/.local/bin
  - poetry --version
  - DEBIAN_FRONTEND=noninteractive apt update
  - DEBIAN_FRONTEND=noninteractive apt -y install php php-json git curl wget
  ...

Updated Manual Files
  configs/manual_config.yml
  simfire/utils/layers.py
  simfire/utils/terrain.py
  step_game.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release, tag

Added sandbox.py for all interactivity
  sandbox.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

Added test to show ranbdom height contours
  sandbox.py
  test_display.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

path fix
  sandbox.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

Bugfixes for sandbox.py
  configs/manual_config.yml
  sandbox.py
  simfire/game/game.py
  simfire/sim/simulation.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release, tag

Merged Sandbox
  sandbox.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

Made height contours consistent w topography
  sandbox.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

included fireline logo
  simfire/utils/assets/fireline_logo.png
Due: tag

Added terrain selector
  sandbox.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

Realsense Integration
  configs/camera_config.yml
  sandbox_realsense.py
  simfire/utils/config.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release, tag

Minor changes
  configs/camera_config.yml
  data/depth_camera_input.npy
  data/gifs/simulation_2025-04-04_17-00-24.gif
  sandbox_realsense.py
  simfire/__pycache__/__init__.cpython-39.pyc
  simfire/__pycache__/enums.cpython-39.pyc
  simfire/game/__pycache__/__init__.cpython-39.pyc
  simfire/game/__pycache__/game.cpython-39.pyc
  simfire/game/__pycache__/image.cpython-39.pyc
  simfire/game/__pycache__/sprites.cpython-39.pyc
  simfire/game/managers/__pycache__/__init__.cpython-39.pyc
  simfire/game/managers/__pycache__/fire.cpython-39.pyc
  simfire/game/managers/__pycache__/mitigation.cpython-39.pyc
  simfire/sim/__pycache__/__init__.cpython-39.pyc
  simfire/sim/__pycache__/simulation.cpython-39.pyc
  simfire/utils/__pycache__/__init__.cpython-39.pyc
  simfire/utils/__pycache__/config.cpython-39.pyc
  simfire/utils/__pycache__/decorators.cpython-39.pyc
  simfire/utils/__pycache__/generate_cfd_wind_layer.cpython-39.pyc
  simfire/utils/__pycache__/graph.cpython-39.pyc
  simfire/utils/__pycache__/layers.cpython-39.pyc
  simfire/utils/__pycache__/log.cpython-39.pyc
  simfire/utils/__pycache__/terrain.cpython-39.pyc
  simfire/utils/__pycache__/units.cpython-39.pyc
  simfire/utils/assets/__pycache__/__init__.cpython-39.pyc
  simfire/utils/textures/__pycache__/__init__.cpython-39.pyc
  simfire/world/__pycache__/__init__.cpython-39.pyc
  simfire/world/__pycache__/elevation_functions.cpython-39.pyc
  simfire/world/__pycache__/fuel_array_functions.cpython-39.pyc
  simfire/world/__pycache__/parameters.cpython-39.pyc
  simfire/world/__pycache__/presets.cpython-39.pyc
  simfire/world/__pycache__/rothermel.cpython-39.pyc
  simfire/world/wind_mechanics/__pycache__/__init__.cpython-39.pyc
  simfire/world/wind_mechanics/__pycache__/cfd_wind.cpython-39.pyc
  simfire/world/wind_mechanics/__pycache__/perlin_wind.cpython-39.pyc
  simfire/world/wind_mechanics/__pycache__/wind_controller.cpython-39.pyc
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release, tag

Added horizonatal Interpolation
  sandbox_realsense.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

code for april tags and depth detection taking into account the transform and creates ok depth map needs to be cleaned up
  viewer.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

some changes
  viewer.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

resolution -> 848 by 480 added spatial and hole filtering
  viewer.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

calibration file, with while loop to detect tags and create an array
  calibration.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

added perspective
  .DS_Store
  __pycache__/calibration.cpython-310.pyc
  __pycache__/viewer.cpython-310.pyc
  april_tags.pkl
  calibration.py
  checkalign.png
  color_original.png
  color_rectified.png
  depth_colormap.png
  depth_colormap_cp.png
  depthdata.txt
  docs/.DS_Store
  object_dect.py
  simfire/.DS_Store
  transformations.py
  venv39/.DS_Store
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release, tag

graphing
  graphing.m
Due: none

seperated calibration and mapping, into mapping.py
  calibration.py
  mapping.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

commit
  __pycache__/calibration.cpython-310.pyc
  __pycache__/viewer.cpython-310.pyc
  april_tags.pkl
  calibration.py
  checkalign.png
  color_original.png
  color_rectified.png
  depth_colormap.png
  depth_colormap_cp.png
  depthdata.txt
  object_dect.py
  transformations.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

changes
  __pycache__/calibration.cpython-310.pyc
  april_tags.pkl
  calibration.py
  calibration_data.npz
  checkalign.png
  color_original.png
  color_rectified.png
  depth_colormap.png
  depthdata.txt
  mapping.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

Added GUI interactivity
  configs/camera_config.yml
  gui.py
  sandbox_realsense_gui.py
  simfire/enums.py
  simfire/utils/config.py
  simfire/utils/layers.py
  simfire/utils/terrain.py
  simfire/world/presets.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release, tag

mapping.py
  __pycache__/calibration.cpython-310.pyc
  april_tags.pkl
  calibration.py
  calibration_data.npz
  checkalign.png
  color_original.png
  color_rectified.png
  depth_colormap.png
  depthdata.txt
  mapping.py
  object_dect.py
  simfire/__pycache__/__init__.cpython-310.pyc
  simfire/__pycache__/enums.cpython-310.pyc
  simfire/game/__pycache__/__init__.cpython-310.pyc
  simfire/game/__pycache__/game.cpython-310.pyc
  simfire/utils/__pycache__/__init__.cpython-310.pyc
  simfire/utils/__pycache__/log.cpython-310.pyc
  simfire/utils/textures/__pycache__/__init__.cpython-310.pyc
  simfire/world/__pycache__/__init__.cpython-310.pyc
  simfire/world/__pycache__/parameters.cpython-310.pyc
  simfire/world/__pycache__/presets.cpython-310.pyc
  venv39/bin/python3.12
  venv39/pyvenv.cfg
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release, tag

matlab
  .DS_Store
  graphing.m
Due: none

Switch to Command Line Interface
  configs/camera_config.yml
  sandbox_realsense_cl.py
  simfire/utils/config.py
  simfire/utils/layers.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release, tag

Black Projection
  configs/camera_config.yml
  sandbox_realsense_cl.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

Changed config
  data/final_objects.txt
  simfire/utils/config.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release, tag

Added urban housing areas
  simfire/enums.py
  simfire/utils/layers.py
  simfire/world/presets.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release, tag

Resized screen
  data/depth_camera_input.npy
  depthdata.txt
  sandbox_realsense_cl.py
  simfire/__pycache__/enums.cpython-39.pyc
  simfire/utils/__pycache__/config.cpython-39.pyc
  simfire/utils/__pycache__/layers.cpython-39.pyc
  simfire/utils/__pycache__/terrain.cpython-39.pyc
  simfire/world/__pycache__/presets.cpython-39.pyc
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release, tag

Resized simulation.py
  simfire/sim/simulation.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release, tag

changes
  april_tags.pkl
  calibration_data.npz
  checkalign.png
  color_original.png
  color_rectified.png
  data/depth_camera_input.npy
  data/gifs/simulation_2025-04-15_11-27-11.gif
  data/gifs/simulation_2025-04-15_11-35-14.gif
  depth.py
  depthColorMap.png
  depth_colormap.png
  sandbox_final.py
  simfire/__pycache__/enums.cpython-39.pyc
  simfire/utils/__pycache__/config.cpython-39.pyc
  simfire/utils/__pycache__/layers.cpython-39.pyc
  simfire/utils/__pycache__/terrain.cpython-39.pyc
  simfire/world/__pycache__/presets.cpython-39.pyc
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release, tag

depthpy
  depth.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

objpy
  object.py
Due: flake8, black, mypy, isort, bandit, coverage, test-pages, test_release

new run
  april_tags.pkl
  calibration_data.npz
  checkalign.png
  color_original.png
  color_rectified.png
  data/depth_camera_input.npy
  data/final_objects.txt
  depthColorMap.png
  depth_colormap.png
  simfire/sim/__pycache__/simulation.cpython-39.pyc
Due: tag

Path conditions:
  flake8: any of: **/*.py, poetry.lock, .flake8
  black: any of: **/*.py, poetry.lock
  mypy: any of: **/*.py, poetry.lock
  isort: any of: **/*.py, poetry.lock
  bandit: any of: **/*.py, poetry.lock
  coverage: any of: **/*.py, poetry.lock
  test-pages: any of: **/*.py, docs/**/*, poetry.lock
  test_release: any of: **/*.py, poetry.lock, pyproject.toml
  tag: any of: simfire/**/*, poetry.lock, pyproject.toml
